<h1>Editing item_belong</h1>

<%= form_for(@item_belong) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :item_group_id %><br />
    <%= f.text_field :item_group_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item_belong %> |
<%= link_to 'Back', item_belongs_path %>
