<h1>New belong</h1>

<%= form_for(@belong) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :division_id %><br />
    <%= f.text_field :division_id %>
  </p>
  <p>
    <%= f.label :job_title_id %><br />
    <%= f.text_field :job_title_id %>
  </p>
  <p>
    <%= f.label :primary %><br />
    <%= f.check_box :primary %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', belongs_path %>
