<h1>Listing evaluation_orders</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @evaluation_orders.each do |evaluation_order| %>
  <tr>
    <td><%=h evaluation_order.name %></td>
    <td><%= link_to 'Show', evaluation_order %></td>
    <td><%= link_to 'Edit', edit_evaluation_order_path(evaluation_order) %></td>
    <td><%= link_to 'Destroy', evaluation_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New evaluation_order', new_evaluation_order_path %>