<h1>Listing roles</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.type %></td>
    <td><%=h role.name %></td>
    <td><%=h role.created_at %></td>
    <td><%=h role.updated_at %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role', new_role_path %>