<h1>Listing evaluation_items</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @evaluation_items.each do |evaluation_item| %>
  <tr>
    <td><%=h evaluation_item.name %></td>
    <td><%= link_to 'Show', evaluation_item %></td>
    <td><%= link_to 'Edit', edit_evaluation_item_path(evaluation_item) %></td>
    <td><%= link_to 'Destroy', evaluation_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New evaluation_item', new_evaluation_item_path %>